header {
    height: 400px;
    width: auto;
    color: #fff;
    padding: 40px;
}

header div {
    background-color: #faf3e32d;
    padding: 50px;
    height: 300px;

}

header div h1 {
    padding-top: 85px;
    text-align: center;
}

header div h4 {
    text-align: center;
}

body {
    background-image: url("../css/test7.jpg");
    background-attachment: fixed;
    border: 1px solid white;
}

#corps {
    padding: 3%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    color: white;
    padding: 5%;
}

.grid-item {
    padding: 10px;
}

.question {
    grid-row: 1/5;
    border: 1px solid white;
}

.bleu {
    background-color: #faf3e32d;
    border-radius: 5px;
}

@media (width < 650px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        color: white;
        padding: 8%;
    }
}

@media (1200px > width > 1000px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (1200px <=width) {
    body {
        padding-left: 10%;
        padding-right: 10%;
    }
}